<div class="row">
	<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-s-10 col-s-offset-1 col-xs-10 col-xs-offset-1 rev">
		<h3>Edit your review</h3>
		<%= form_for :article, url: articles_path do |f| %>
			<p>
				<%= f.label :author %><br>
				<%= f.text_field :author, class: 'form-control' %>
			</p>

			<p>
				<%= f.label :date %><br>
				<%= f.date_field :date, class: 'form-control'%>
			</p>

			<p>
				<%= f.label :headline %><br>
				<%= f.text_field :headline, class: 'form-control' %>
			</p>

			<p>
				<%= f.label :text %><br>
				<%= f.text_area :text, class: 'form-control' %>
			</p>

			<p>
				<%= f.label :image_link %><br>
				<%= f.text_area :text, class: 'form-control' %>
			</p>

			<p>
				<%= f.submit "Save changes" %>
			</p>
		<% end %>
	</div>
</div>