<% @articles.each do |article| %>

<div class="row-fluid">
	<div class="rev_image ">
		<img class="img-responsive" src="<%= article.image_link %>" width="400" height="150">
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 rev_index_head">
		<h3><%= article.headline %></h3>
		<div><%= article.date.to_s(:long) %></div>
		<div><%= article.author %></div>
	</div>
</div>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 rev_index_text">
		<div><p><%= article.text %></p>
	</div>
</div>

<div class="row">
	<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 ratings">
		<div>
			CRUST:<br>
			SAUCE:<br>
			CHEESE:<br>
			TOPPINGS:<br>
			ORIGINALITY:<br>
			ATMOSPHERE:<br>
		</div>
	</div>
</div>

<% end %>



