<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @pizza.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @pizza.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @pizza.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pizza.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @pizza.title %>
</p>

<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>
